.place__paragraph {
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media creen and (max-width: 1023px) {
  .place__paragraph {
    margin-bottom: 25px;
  }
}

@media creen and (max-width: 768px) {
  .place__paragraph {
    margin-bottom: 25px;
  }
}