.page {
    max-width: 1184px;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #2a2c2f;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 28px;
    margin: 0 auto 56px;
}

.header__languages {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.link {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.header__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

.header__link_underline {
    text-decoration: underline;
}

.header__language {
    margin-right: 18px;
}

.header__language:last-child {
    margin-right: 0;
}

.content {
    display: block;
}

.lead {
    max-width: 984px;
    margin: 0 auto 92px;
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
    text-align: center;
    margin: 0 auto 32px;
    padding: 0;
    max-width: 720px;
    max-height: 200px;
}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    max-width: 640px;
    max-height: 72px;
    margin: 0 auto 64px;
}

.lead__image {
    width: 100%;
    margin-bottom: 8px;
}

.lead__image-box {
    max-width: 984px;
    margin: 0 auto;
}

.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.intro {
    max-width: 984px;
    margin: 0 auto 92px;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    margin: 0 auto 40px;
}

.intro__text {
    margin: 0 0 34px;
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    color: #fff;
}

.intro__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.intro__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin: 0;
}

.intro__text-fact {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto 92px;
    justify-content: center;
    justify-items: center;

}

.photo-grid__item {
    width: 100%;
    height: 100%;
}

.places {
    margin: 0 auto 92px;
    max-width: 984px;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 48px;
    column-gap: 40px;
    margin: 0 auto 80px;
}

.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    max-width: 460px;
}

.place__website {
    align-self: end;
}

.place__url-heading {
    margin: 0 auto 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #aaa;
    text-transform: uppercase;
}

.place__url {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #fff;
    text-decoration: underline;
}

.link {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.place__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    margin: 0;
}

.place__paragraph {
    margin: 0;
}

.place__paragraph:first-child {
    margin-bottom: 26px;
}

.cover {
    max-width: 1184px;
    margin: 0 auto 92px;
}

.cover__overlay {
    background-image: url(../images/na_sobakah__background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 740px;
    max-width: 1184px;
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.cover__overlay:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity .3s ease-out;
}

.cover__title {
    padding: 0;
    margin: 0 auto 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    text-align: center;
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 1;
}

.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 3;
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
    align-items: baseline;
}

.footer__nav {
    
}

.footer__links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
}

.footer__item {
    margin-right: 18px;
}

.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.footer__item:last-child {
    margin-right: 0;
}

@media (max-width: 1279px) {
    .page__margin {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 1023px) {
    .page__margin {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    .page__margin {
        padding-right: 16px;
        padding-left: 16px;
    }
}